* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  color: #333;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #fff;
  position: sticky;
  top: 0;
}

.logo {
  font-weight: bold;
}

.nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
}

.btn-header {
  background: #ff7aa2;
  color: #fff;
  padding: 10px 20px;
  border-radius: 999px;
  text-decoration: none;
}

/* HERO */
.hero {
  background: #fdecef;
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 2.5rem;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  background: #ff7aa2;
  color: #fff;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
}

/* PRODUTOS */
.produtos, .galeria, .sobre, .encomendas, .contato {
  padding: 60px 20px;
  text-align: center;
}

.grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

.card img, .galeria img {
  width: 220px;
  border-radius: 12px;
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: auto;
}

.form input, .form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form button {
  background: #ff7aa2;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
}

.encomendas {
  background: #fff5f7;
}

.container {
  max-width: 600px;
  margin: auto;
}

.form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.input-group label {
  margin-bottom: 5px;
  font-weight: 500;
}

.input-group input,
.input-group select,
.input-group textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.input-group textarea {
  min-height: 100px;
  resize: none;
}

.btn-form {
  background: #ff7aa2;
  color: white;
  padding: 14px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-form:hover {
  opacity: 0.85;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #f5f5f5;
}

